
<div class="show-container">
  <div class="container show-wrapper">
  <table class='table table-hover'>
    <thead>
      <tr>
        <th>Resort</th>
        <th>Location</th>
        <th>Check In</th>
        <th>Check Out</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @bookings.each do |book| %>
        <%if book.end_date < Date.today
            value = "danger"
          elsif book.start_date >= Date.today && book.end_date >= Date.today
            value = "info"
          else
            value = "success"
          end %>
          <tr class= <%="#{value}" %>>
            <td><%= book.resort.name %></td>
            <td></td>
            <td><%= book.start_date %></td>
            <td><%= book.end_date %></td>
            <td width="150">
              <% if book.start_date >= Date.today %>
              <%= link_to booking_path(book), method: :delete, data: { confirm: "Are you sure?" } do %>
              <div class="cancel-booking-button">Cancel booking</div>
              <% end %>
              <% end %>
            </td>
          </tr>
      <% end %>
    </tbody>
  </table>


