<div class="confirmation-container">
  <div class="confirmation-wrapper">
    <h1>Your booking is confirmed.</h1>
    <div class="tick">
      <i class="fas fa-check fa-7x"></i>
    </div>
    <h2>You're going to <b><%= @booking.resort.name %></b> — oh, yeah!</h2>
    <h3>Check-in: <b><%= @booking.start_date %></b></h3>
    <h3>Check-out: <b><%= @booking.end_date %></b></h3>
    <%= link_to resorts_path do%>
      <div class="confirm-button-blue" style="margin-bottom: 5px">Print This Receipt
      </div>
    <% end %>
    <%= link_to bookings_path do%>
      <div class="confirm-button-grey">See My Bookings
      </div>
    <% end %>
  </div>
</div>
