<div class="main-container">
  <div id="list">
   <h5><%= link_to videos_path do %>
     <i class="fas fa-home"></i> Home
     <%end %></h5>

     <h3> filters</h3>

    </div>




<div class="video-container">
<div class="row">
  <% @videos.each do |video|  %>

  <%= link_to video_path(video) do %>
  <div class="col-xs-12 col-sm-4 card-outline">
    <div class="card" style="width: 300px;">
      <img class="card-img-top" src="https://img.youtube.com/vi/<%= video.url %>/hqdefault.jpg" alt="Card image cap">
      <div class="card-body">
        <h5><%= video.title %></h5>
        <p><%= video.region %> <%= video.rating %></p>
        <p> <%= video.created_at %></p>
      </div>
    <%end %>
  </div>
  <%end %>
</div>
</div>
</div>
</div>
