<div class="navbar-wagon">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-wagon-brand" do %>
    <%= image_tag "logo.png", height: 50 %>
  <% end %>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">



      <!-- Links when logged in -->
        <div class="dropdown">
          <button class="dropbtn">News <i class="fas fa-angle-down"></i></button>
          <div class="dropdown-content">
          <h5><%= link_to root_path(string: "amoladora") do %>Amoladora<% end %></h5>
          <h5><%= link_to root_path(string: "grupo electrogeno") do %>Grupo electrogeno<% end %></h5>
          <h5><%= link_to root_path(string: "martillo") do %>Martillos<% end %></h5>
          <h5><%= link_to root_path(string: "Motosierra") do %>Motosierra<% end %></h5>
          <h5><%= link_to root_path(string: "sierra") do %>Sierra<% end %></h5>
          <h5><%= link_to root_path(string: "taladro") do %>Taladros<% end %></h5>
          </div>
        </div>
        <div class="dropdown">
          <button class="dropbtn">Gear <i class="fas fa-angle-down"></i></button>
          <div class="dropdown-content">
            <h5><%= link_to root_path(brand: "Black_decker") do %>Black-decker<% end %></h5>
            <h5><%= link_to root_path(brand: "Bosch") do %>Bosch<% end %></h5>
            <h5><%= link_to root_path(brand: "Dewalt") do %>Dewalt<% end %></h5>
            <h5><%= link_to root_path(brand: "Hyundai") do %>Hyundai<% end %></h5>
            <h5><%= link_to root_path(brand: "Makita") do %>Makita<% end %></h5>
            <h5><%= link_to root_path(brand: "Stanley") do %>Stanley<% end %></h5>
            <h5><%= link_to root_path(brand: "Stihl") do %>Stihl<% end %></h5>
          </div>
        </div>
        <div class="dropdown">
          <button class="dropbtn">Videos <i class="fas fa-angle-down"></i></button>
          <div class="dropdown-content">
              <h5> <%= link_to root_path(min_price_cents: 1, max_price_cents: 300001) do %>
              <i class="fas fa-minus"></i> 3000 $<% end %> </h5>
              <h5><%= link_to "3000-6000 $", root_path(min_price_cents: 300001, max_price_cents: 600000) %> </h5>
              <h5><%= link_to "6000-10000 $", root_path(min_price_cents: 600001, max_price_cents: 1000000) %></h5>
              <h5> <%= link_to root_path(min_price_cents: 1000001, max_price_cents: 10000000) do %>
              <i class="fas fa-plus"></i> 10000 $<% end %> </h5>
          </div>
        </div>
        <div class="dropdown">
          <button class="dropbtn">Ordenar <i class="fas fa-angle-down"></i></button>
          <div class="dropdown-content">
            <h5><%= link_to root_path(created_at: :desc) do %>Novedades<% end %></h5>
            <h5>  <%= link_to root_path(price_cents: :desc) do %>Mas alto - Mas bajo<% end %></h5>
          </div>
        </div>



      <!-- Avatar with dropdown menu -->
      <% if user_signed_in? %>
      <div class="navbar-wagon-item">
        <div class="dropdown">
          <button class="dropbtn">
          <%= image_tag "logo.png", class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %> </button>
            <div class="dropdown-content">
              <%= link_to "#" do %>
                <i class="fa fa-user"></i> <%= t(".profile", default: "Profile") %>
              <% end %>
              <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fas fa-sign-out-alt"></i> <%= t(".sign_out", default: "Log out") %>
              <% end %>
            </div>
        </div>
      </div>
    <% else %>
      <!-- Login link (when logged out) -->
       <%= link_to t(".sign_in", default: "Iniciar Sesion"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %>
    <% end %>
  </div>

  <!-- Dropdown list appearing on mobile only -->
  <% if user_signed_in? %>
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><%= link_to root_path do %><i class="fas fa-screwdriver"></i> Productos</li>
        <% end %>
        <li><%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fas fa-sign-out-alt"></i> <%= t(".sign_out", default: "Log out") %>
              <% end %></li>
      </ul>
    </div>
  </div>
  <% else %>
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><%= link_to t(".sign_in", default: "Iniciar Sesion"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %></li>
         <li><%= link_to root_path do %>Productos <i class="fas fa-wrench"></i> </li>
        <% end %>
      </ul>
      <% end %>
    </div>
  </div>
</div>
