<div class="main-resort-container">
   <div class="sidebar-resort">
     <h2> Region</h2>
     <h4> Colorado</h4>
     <h4>Utah </h4>
     <h4> Canada</h4>
     <h4> Argentina</h4>
   </div>
   <div class="resorts">
    <% @resorts.each do |resort| %>
    <%= link_to resort_path(resort) do %>
      <div class="resort">
          <img src="<%= resort.photo1 %>" alt="">
          <div class="resort-body">
            <h3><%= resort.name %></h3>
            <h5><%= resort.description.truncate(180) %></h5>
            <p> <%= resort.region %> </p>
          </div>
      </div>
        <%end%>
        <%end %>
    </div>

</div>




